<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container">Platz für Logo</div>

    <ul class="menu-items">
      <li><mat-icon>fact_check</mat-icon>Dashboard</li>
      <li><mat-icon>perm_identity</mat-icon>User</li>
    </ul>

  </mat-drawer>

  <div class="example-sidenav-content">

    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Simple CRM</span>      
    </mat-toolbar>    
  </div>

</mat-drawer-container>