<mat-card>
  <mat-card-content>
    <table class="user-table">
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>City</th>
      </tr>
      
      @for (user of this.userService.userList; track $index) {
        <tr>
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.city }}</td>
        </tr>        
      }

    </table>
  </mat-card-content>
</mat-card>
<button
  (click)="openDialog()"
  mat-fab
  color="primary"
  class="add-user-btn"
  matTooltip="Add user"
>
  <mat-icon>add</mat-icon>
</button>
