html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-16 {
  margin-right: 16px;
}

.mt-8 {
  margin-top: 8px !important;
}

.mat-mdc-dialog-title {
  margin: 0 !important;
}
mat-dialog-actions {
  margin-left: 12px !important;
}

.full-width {
  width: 100%;
}
